<div th:fragment="newsListFragment">
    <div th:each="news : ${newsList}" class="col-lg-4 col-md-6">
        <div class="latest__blog__item" th:style="'background-image: url(' + ${news.image} + '); background-size: cover; background-position: center;'">
            <div class="latest__blog__item__text">
                <ul>
                    <li th:text="'By ' + ${news.author}">By Author</li>
                    <li th:text="${news.date}"></li>
                    <li th:text="${news.comment}"></li>
                </ul>
                <h5 th:text="${news.title}"></h5>
                <p th:text="${news.content}"></p>
                <a th:href="@{/news-detail(id=${news.id})}">View More <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
