<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container mt-5">
    <h2>Admin Dashboard</h2>
    <h3>Welcome back!</h3>
    <div class="list-group mt-3">
        <a href="/car-details" class="list-group-item list-group-item-action">Car Details</a>
        <a href="/blog-details" class="list-group-item list-group-item-action">Blog Details</a>
    </div>

</div>
</body>
</html>
