<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container text-center mt-5">
    <h1 class="mt-5">403 - Forbidden</h1>
    <p class="mt-3">You do not have permission to access this resource.</p>
    <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
</div>
</body>
</html>
